@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.about__title {
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 252px;
  padding-top: 100px;
  margin: 0 0 0 80px;
  z-index: 2;
}
.about__content {
  max-width: 660px;
  color: white;
  margin: 119px 80px 173px 0;
}
.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 20px;
  margin: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite both;
}
