.header {
    padding: 30px 80px 40px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #ffffff;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  
  .header__title {
    font-family: "Inter", "Arial", sans-serif;
    font-style: italic;
    letter-spacing: -0.6px;
    max-width: 720px;
    font-size: 60px;
    line-height: 72px;
    margin: 103px 0 0;
    letter-spacing: -0.6px;
    font-weight: normal;
  }
  .header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 500;
    max-width: 683px;
    font-size: 20px;
    line
  }
  
  .header__span-accent {
    display: block;
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2f80ed;
    max-width: 729px;
  }
  .header__description {
    max-width: 683px;
  }
  .header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    margin-top: 124px;
    transform: translate(800px, -100px);
  }
  .header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .header__paragraph {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
  }