.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.recipes__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  width: 480px;
  height: 273px;
  padding-left: 200px;
  padding-top: 100px;
}
.recipes__iframe {
  width: 480px;
  height: 270px;
  border: none;
}
.recipes__video-caption {
  display: flex;
  align-items: flex-end;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  justify-content: space-between;
}
